<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
</head>
<body>
    <h2>All Users</h2>

    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Favorite Color</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.color }}</td>
            <td>
                <a href="/update/{{ user.id }}">Update</a> |
                <a href="/delete/{{ user.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/greet">➕ Add New User</a>
</body>
</html>
